<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Sistema - Estoque</title>
</head>
<body>
    {{>partials/header}}

    <section class="main">
        {{>partials/menu}}
        <div class="area">
            <div class="container-estoque">
                <table>
                    <thead>
                      <tr>
                        <th>CÓDIGO</th>
                        <th>PRODUTO</th>
                        <th>VALIDADE</th>
                        <th>LOTE</th>
                        <th>PREÇO</th>
                        <th>QUANTIDADE</th>
                        <th>DATA ENTRADA</th>
                      </tr>
                    </thead>
                    <tbody>
                    {{#entradas}}
                        <tr>
                            <td>{{codigo}}</td>
                            <td>{{nome}}</td>
                            <td>{{validade}}</td>
                            <td>{{lote}}</td>
                            <td>{{preco}}</td>
                            <td>{{quantidade}}</td>
                            <td>{{dataEntrada}}</td>
                        </tr>
                        {{/entradas}}
                    </tbody>
                  </table>
            </div>
            <div class="btns">
                <button class="voltar"><a href="/entrada&saidas">Voltar</a></button>
                <button class="limpar" onclick="(limparEntradas())"><a href="">Limpar Registros</a></button>
            </div>
        </div>
    </section>
    <script src="/js/entrada.js">
    </script>
    