<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Sistema - Estoque</title>
</head>
<body>
    {{>partials/header}}

    <section class="main">
        {{>partials/menu}}
        <div class="area">
            <div class="container-entrada">
                <div class="card-entradas">
                    <h2><a href="/entradas">Entradas</a></h2>
                </div>
                <div class="card-saidas">
                    <h2><a href="/saidas">Saídas</a></h2>
                </div>
            </div>
        </div>
    </section>