<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Sistema - Estoque</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo"><h1>DevEstoque</h1></div>
        </div>
    </header>

    <section class="main">
        <div class="menu">
            <div class="buttons">
                <a href="/" class="estoque-btn">ESTOQUE</a>
                <a href="/entrada&saidas" class="entrada-saida-btn">ENTRADA - SAIDAS</a>
                <a href="/cadastro" class="cadastro-produto-btn">CADASTRO PRODUTO</a>
                <a href="/vendas" class="vendas-btn">VENDAS</a>
                <a href="/suporte" class="suporte-btn">SUPORTE</a>
            </div>
        </div>
        <div class="area">
            <div class="container-estoque">
                <table>
                    <thead>
                      <tr>
                        <th>CÓDIGO</th>
                        <th>PRODUTO</th>
                        <th>VALIDADE</th>
                        <th>LOTE</th>
                        <th>PREÇO</th>
                        <th>QUANTIDADE</th>
                        <th>DATA ENTRADA</th>
                      </tr>
                    </thead>
                    <tbody>
                    {{#entradas}}
                        <tr>
                            <td>{{codigo}}</td>
                            <td>{{nome}}</td>
                            <td>{{validade}}</td>
                            <td>{{lote}}</td>
                            <td>{{preco}}</td>
                            <td>{{quantidade}}</td>
                            <td>{{dataEntrada}}</td>
                        </tr>
                        {{/entradas}}
                    </tbody>
                  </table>
            </div>
            <div class="btns">
                <button class="voltar"><a href="/entrada&saidas">Voltar</a></button>
                <button class="limpar" onclick="(limparEntradas())"><a href="">Limpar Registros</a></button>
            </div>
        </div>
    </section>
    <script>
        async function limparEntradas() {
            if (confirm("Tem certeza que deseja limpar todas as entradas?")) {
                const response = await fetch('/limpar-entradas', { method: 'DELETE' });
                if (response.ok) {
                    alert("Entradas removidas com sucesso!");
                    location.reload();
                } else {
                    alert("Erro ao limpar as entradas.");
                }
            }
        }
    </script>
    