<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sistema - Estoque</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo"><h1>DevEstoque</h1></div>
        </div>
    </header>

    <section class="main">
        <div class="menu">
            <div class="buttons">
                <a href="/" class="estoque-btn">ESTOQUE</a>
                <a href="/entrada&saidas" class="entrada-saida-btn">ENTRADA - SAIDAS</a>
                <a href="/cadastro" class="cadastro-produto-btn">CADASTRO PRODUTO</a>
                <a href="/vendas" class="vendas-btn">VENDAS</a>
                <a href="/suporte" class="suporte-btn">SUPORTE</a>
            </div>
        </div>
        <dialog id="modal"> 
          <div class="area-prod-modal">
            <div class="nome-modal">...</div>
            <div class="codigo-modal">...</div>
            <div class="validade-modal">...</div>
            <div class="lote-modal">...</div>
            <div class="tipo-modal">...</div>
            <div class="preco-modal">...</div>
            <div class="observacoes-modal">...</div>
            <div class="estoque-modal">...</div>
            <button class="fechar-modal">Fechar</button>
          </div>   
        </dialog>
        <div class="area">
            <div class="container-estoque">
                <table>
                    <thead>
                      <tr>
                        <th>CÓDIGO</th>
                        <th>PRODUTO</th>
                        <th>VALIDADE</th>
                        <th>QUANTIDADE</th>
                        <th>AÇÕES</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#produtos}}
                      <tr>
                        <td>{{codigo}}</td>
                        <td>{{nome}}</td>
                        <td>{{validade}}</td>
                        <td>{{quantidade}}</td> 
                      </tr>
                      {{/produtos}}
                    </tbody>
                  </table>
            </div>
        </div>
    </section>

  <script>
      async function carregarProdutos() {
      try{
          const resposta = await fetch('/api/produtos')
          const produtos = await resposta.json()

          const tabela = document.querySelector('tbody')
          tabela.innerHTML = ''

          produtos.forEach( produto => {
              const linha = `
                  <tr>${produto.codigo}</tr>
                  <tr>${produto.nome}</tr>
                  <tr>${produto.validade}</tr>
                  <tr>${produto.quantidade}</tr>
              `
          });
      } catch(error){
          console.log('erro ao carregar os produtos')
      }
    }
  
  </script>