<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sistema - Estoque</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo"><h1>DevEstoque</h1></div>
        </div>
    </header>

    <section class="main">
        <div class="menu">
            <div class="buttons">
                <a href="/" class="estoque-btn">ESTOQUE</a>
                <a href="/entrada&saidas" class="entrada-saida-btn">ENTRADA - SAIDAS</a>
                <a href="/cadastro" class="cadastro-produto-btn">CADASTRO PRODUTO</a>
                <a href="/vendas" class="vendas-btn">VENDAS</a>
                <a href="/suporte" class="suporte-btn">SUPORTE</a>
            </div>
        </div>
        <dialog id="modal"> 
          <div class="area-prod-modal">
            <div class="nome-modal">...</div>
            <div class="codigo-modal">...</div>
            <div class="validade-modal">...</div>
            <div class="lote-modal">...</div>
            <div class="tipo-modal">...</div>
            <div class="preco-modal">...</div>
            <div class="observacoes-modal">...</div>
            <div class="estoque-modal">...</div>
            <button class="fechar-modal">Fechar</button>
          </div>   
        </dialog>
        <div class="area">
            <div class="container-estoque">
                <table>
                    <thead>
                      <tr>
                        <th>CÓDIGO</th>
                        <th>PRODUTO</th>
                        <th>VALIDADE</th>
                        <th>LOTE</th>
                        <th>PREÇO Un.</th>
                        <th>QUANTIDADE</th>
                        <th>AÇÕES</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#produtos}}
                      <tr data-codigo="{{codigo}}" data-nome="{{nome}}" data-validade="{{validade}}" data-lote="{{lote}}" data-preco="{{preco}}" data-estoque="{{estoqueInicial}}">
                        <td>{{codigo}}</td>
                        <td>{{nome}}</td>
                        <td>{{validade}}</td>
                        <td>{{lote}}</td>
                        <td>R$ {{preco}}</td>
                        <td>{{estoqueInicial}}</td> 
                        <td><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" color="grey" class="bi bi-eye-fill" viewBox="0 0 16 16">
                          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                          </svg> | <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" color="red" class="bi bi-x-circle-fill delete-icon" viewBox="0 0 16 16">
                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                          </svg>
                        </td> 
                      </tr>
                      {{/produtos}}
                    </tbody>
                  </table>
            </div>
        </div>
    </section>