<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Sistema - Estoque</title>
</head>
<body>
    {{>partials/header}}

    <section class="main">
        {{>partials/menu}}
        <div class="area">
            <div class="container-estoque">
                <table>
                    <thead>
                      <tr>
                        <th>CÓDIGO</th>
                        <th>PRODUTO</th>
                        <th>QUANTIDADE</th>
                        <th>PREÇO VENDA</th>
                        <th>DATA SAÍDA</th>
                      </tr>
                    </thead>
                    <tbody>
                    {{#vendas}}
                      <tr>
                          <td>{{codigo}}</td>
                          <td>{{nomeProduto}}</td>
                          <td>{{quantidade}}</td>
                          <td>R$: {{precoTotal}}</td>
                          <td>{{dataVenda}}</td>
                      </tr>
                    {{/vendas}}
                    </tbody>
                  </table>
            </div>
            <div class="btns">
                <button class="voltar"><a href="/entrada&saidas">Voltar</a></button>
                <button class="limpar" onclick="(limparSaidas())"><a href="">Limpar Registros</a></button>
            </div>
        </div>

<script src="/js/saidas.js">
</script>