<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Sistema - Estoque</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo"><h1>DevEstoque</h1></div>
        </div>
    </header>

    <section class="main">
        <div class="menu">
            <div class="buttons">
                <a href="/" class="estoque-btn">ESTOQUE</a>
                <a href="/entrada&saidas" class="entrada-saida-btn">ENTRADA - SAIDAS</a>
                <a href="/cadastro" class="cadastro-produto-btn">CADASTRO PRODUTO</a>
                <a href="/vendas" class="vendas-btn">VENDAS</a>
                <a href="/suporte" class="suporte-btn">SUPORTE</a>
            </div>
        </div>
        <div class="area">
            <div class="container-estoque">
                <table>
                    <thead>
                      <tr>
                        <th>CÓDIGO</th>
                        <th>PRODUTO</th>
                        <th>QUANTIDADE</th>
                        <th>PREÇO VENDA</th>
                        <th>DATA SAÍDA</th>
                      </tr>
                    </thead>
                    <tbody>
                    {{#vendas}}
                      <tr>
                          <td>{{codigo}}</td>
                          <td>{{nomeProduto}}</td>
                          <td>{{quantidade}}</td>
                          <td>{{precoTotal}}</td>
                          <td>{{dataVenda}}</td>
                      </tr>
                    {{/vendas}}
                    </tbody>
                  </table>
            </div>
            <button class="voltar"><a href="/entrada&saidas">Voltar</a></button>
        </div>