<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Sistema - Estoque</title>
</head>
<body>
    {{>partials/header}}

    <section class="main">
        {{>partials/menu}}
        <div class="area">
            <div class="container-vendas">
                <div class="title-vendas">
                    <h1>Realizar venda</h1>
                </div>
                <form id="form-busca-produto" method="POST">
                    <div class="produto-pesquisar">
                        <input type="text" name="nome" id="termo-busca"  placeholder="Nome do produto ou código" class="input-venda">
                        <button type="submit" class="pesquisar">Pesquisar</button>
                    </div>
                </form>
                <div class="area-produto">
                    <table>
                        <thead>
                            <th>NOME</th>
                            <th>PREÇO</th>
                            <th>VALIDADE</th>
                            <th>QUANTIDADE ESTOQUE</th>
                            <th>QUANTIDADE VENDA</th>
                        </thead>
                        <tbody id="resultado-busca">
                            {{#item}}
                            <tr class="produto">
                                <td>{{nome}}</td>
                                <td>R$: {{preco}}</td>
                                <td>{{validade}}</td>
                                <td>{{estoqueInicial}}</td>
                            </tr>
                            {{/item}}
                        </tbody>
                    </table>
                    <div id="valor-total">Total: R$ 0,00</div>
                    <button id="vender" class="vender">Vender</button>
                </div>
            </div>
        </div>
    </section>
<script src="/js/vendas.js">
</script>