<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>{{titulo}}</title>
</head>
<body>

    {{>partials/header}}  <!-- Inclui o cabeçalho fixo -->

    <section class="main">
        {{#content}}   <!-- Começa a seção 'content' -->
            {{{content}}}  <!-- Aqui será renderizado o conteúdo das páginas -->
        {{/content}}   <!-- Fecha a seção 'content' -->
    </section>

    {{>partials/footer}}  <!-- Inclui o rodapé fixo -->

</body>
</html>
