<div class="menu">
    <div class="buttons">
        <a href="/" class="estoque-btn">ESTOQUE</a>
        <a href="/entrada&saidas" class="entrada-saida-btn">ENTRADA - SAIDAS</a>
        <a href="/cadastro" class="cadastro-produto-btn">CADASTRO PRODUTO</a>
        <a href="/vendas" class="vendas-btn">VENDAS</a>
        <a href="/suporte" class="suporte-btn">SUPORTE</a>
    </div>
</div>